
spawn-at-startup "steam"
spawn-at-startup "vesktop"
spawn-at-startup "gelly"
spawn-at-startup "hyprlock"
spawn-at-startup "swaync"
spawn-at-startup "aww restore"


prefer-no-csd
screenshot-path "~/Obrazy/Screenshots/%Y-%m-%d %H-%M-%S-screenshot.png"
workspace "music+games"
workspace "gaming"
workspace "dc"
hotkey-overlay {
    skip-at-startup
}
recent-windows {
   off
}
blur {
  passes 4 
  offset 2
  saturation 1.1
}
layout {
background-color "transparent"
   focus-ring {
    on
    width 2
  }
   gaps 10
  default-column-width { proportion 0.7; }
  border {
    off
  }
}
output "DP-1" {
  mode "2560x1440@180"
  hot-corners {
    off
  }
}
animations {
      workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }    
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
io.m51.Gelly
    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}

input {
  keyboard {
    xkb {
      layout "pl"
    }
  }
  mod-key "Super"

}

binds {
   Mod+Q repeat=false {close-window;}
   Mod+Return {spawn "kitty";}
   Mod+Delete {quit;}
   Mod+L repeat=false {spawn "hyprlock";}
   Mod+E {spawn "dolphin";}
   Mod+D {spawn "fuzzel";}
   Mod+F {fullscreen-window;}
   Mod+Tab {toggle-window-floating;}
   Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
   Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }
   Mod+Left {focus-column-left;}
   Mod+Right {focus-column-right;}
   Mod+Up {focus-workspace-up;}
   Mod+Down {focus-workspace-down;}
   Mod+Print {screenshot;}

   Mod+O {toggle-overview;}
     Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace "stuff"; }
  Mod+3 { focus-workspace "dc"; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace "gaming"; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }
  }
  window-rule  {
    exclude app-id="gamescope"
    opacity 0.8
  match app-id=r#".*"#
  
    background-effect {
          blur true
          xray true
          }
    geometry-corner-radius 10
    clip-to-geometry true 
    draw-border-with-background false
   }
  window-rule {
    match app-id="firefox-nightly"
    open-maximized true
  }
  window-rule {
    match app-id="vesktop"
    open-on-workspace "dc"
  }
  window-rule {
    match app-id="steam"
    match app-id="lutris"
    match app-id="io.m51.Gelly"
    open-on-workspace "stuff"
  window-rule {
    match app-id="gamescope"
    open-fullscreen true
    open-on-workspace "gaming"
  }
  layer-rule {
    match namespace="^launcher$"
    opacity 0.80
    clip-to-geometry tru
    geometry-corner-radius 15
    background-effect {
      blur true
      xray true
    }
}
layer-rule {
    match namespace="awww-daemon"
    place-within-backdrop true
}

